
.contact {
  background: $highlight;
  &__title {
    text-align: center;
    font-size: em(40px);
    font-family: 'Oleo Script', cursive;
    color: $white;
  }
}

form {
  max-width: em(300px);
  margin: 30px auto;
  padding: 10px 20px;
  background: $color-primary;
  border-radius: 8px;

  @media(min-width:800px) {
    max-width: 80%;
    padding: em(10px) em(100px);
  }
}

input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  padding: em(5px);
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: em(20px);
}

input[type="radio"]{
  margin: em(5px) em(10px);
}

label {
  font-size: em(20px);
  font-family: $font-family--primary;
  color: lightgrey;
}

.submit {
  padding: em(30px);
  background: red;
  width: 100%;
  color: grey;
  background: $color-secondary;
  font-size: em(20px);
  margin-bottom: em(30px);
}
