.ourcourses {
  background: $color-primary;
  padding-bottom: em(20px);
}

.courses {

  @media (min-width: 800px) {
      @include container;
  }

  &__title {
    text-align: center;
    color: $white;
    font-size: em(50px);
    margin: 20px 0;
    font-family: 'Oleo Script', cursive;
    text-decoration: underline;
  }

  &__image {
    max-width: 100%;
    padding: em(20px) em(30px);

    @media (min-width: 800px) {
        @include span(6 of 12);
    }


    img {
      max-width: 100%;
      width: em(400px);
      height: em(280px);
      display: block;
      margin: 0 auto;
      border: 5px solid $color-secondary;
      transition: all 0.7s ease-in-out;

      &:hover {
        border-color: red;
        transform: scale(1.1);
      }
    }

  }

  &__text {
    max-width: 100%;
    width: em(440px);
    padding: em(10px) em(20px);
    margin: 0 auto;

    @media (min-width: 800px) {
        @include span(6 of 12 last);
        padding-top: 0;
        padding-right: em(100px);
    }

    p {
      color: $white;
      font-family: $font-family--primary;
      text-align: justify;
      @media (min-width: 800px) {
          font-size: em(25px);
      }
    }
  }
}

.footerc {
  background: $color-secondary;
}
