
.logo {
  text-align: center;
}
.navbar {
  border: 2px solid $highlight;
}

.nav {
  background: $color-secondary;
  padding-left: 0;
  margin: 0;
  text-align: center;

  &__item {
    list-style-type: none;
    text-decoration: none;
    padding: em(5px) 0;
    border: 1px solid black;

    @media (min-width: 800px) {
      display: inline-block;
      border: none;
      padding: em(20px);
    }

    a {
      font-family: $font-family--primary;
      font-size: em(18px);
      color: $color-primary;
      text-decoration: none;
      display: block;
      padding: em(5px);

      &:hover {
        color: $highlight;
      }
    }
  }
}


.banner {
  position: relative;

  &__image {

    width: 100%;
    display:block;
    height: auto;
}

  &__title {
  position: absolute;
  left: 50%;
  top: 40%;
  width: 100%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  font-size: em(45px);
  font-family: 'Oleo Script', cursive;
  color: $white;

  @media (min-width: 800px) {
      top: 25%;
      font-size: em(60px);
    }

  @media (min-width: 950px) {
      top: 10%;
      font-size: em(85px);
    }
  }

  &__intro {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    color: $white;
    font-size: em(30px);
    visibility: hidden;

    @media (min-width: 800px) {
      visibility: visible;
    }

    @media (min-width: 950px) {
      top: 35%;
      font-size: em(45px);
    }
  }
}

.button {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: em(65px);
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  padding: em(15px) em(35px);
  cursor: pointer;
  background: linear-gradient(to bottom,
  #f83876 0%, #d4326d 100%);
  color: white;
  border-radius: 5px;
  text-decoration: none;

  @media (min-width: 800px) {
    top: 65%;
  }

  @media (min-width: 950px) {
    top: 52%;
  }
}

/* info svg section */

.info {
  background: $color-primary;
}

.contain {
  background: #655;
  padding: em(10px);

  &__title {
    text-align: center;
    font-size: em(35px);
    margin: 0;
    color: $white
  }
}

.contain > div {
  background: $highlight;
  border-radius: em(15px);
  padding: em(5px);
}

.container {
  @include container;
  margin-top: em(30px);
}

.first {
  @include span(6 of 12);
  text-align: center;

  @media (min-width: 800px) {
    @include span(3 of 12);
  }
}

.second {
  @include span(6 of 12 last);
  text-align: center;

  @media (min-width: 800px) {
    @include span(3 of 12);
  }
}

.third {
  @include span(6 of 12 last);
  text-align: center;

  @media (min-width: 800px) {
    @include span(3 of 12);
  }
}

.fourth {
  @include span(6 of 12);
  text-align: center;

  @media (min-width: 800px) {
    @include span(3 of 12 last);
  }
}

.learn {
  fill: $rose;

  &__title {
    color: $color-secondary;
  }

  &__text {
    color: $white;
  }
}

.create {
  fill: $color-secondary;

  &__title {
    color: $rose;
  }

  &__text {
    color: $white;
  }
}

.share {
  fill: $rose;

  &__title {
    color: $color-secondary;
  }

  &__text {
    color: $white;
  }
}

.connect {
  fill: $color-secondary;

  &__title {
    color: $rose;
  }

  &__text {
    color: $white;
  }
}

.p {
  font-family: font-family--primary;
  padding: em(5px);
  line-height: 1.2;
  font-size: em(20px);
}

.h {
  text-transform: uppercase;
  font-size: em(22px);
}

svg {
   transition: all .5s ease-in-out;
}
svg:hover {
  fill: $highlight;
  transform: scale(1.4);
}
