
.navbar {
  background: $highlight;
  border: 3px solid $highlight;
}

.nav {
  background: $color-secondary;
  padding-left: 0;
  margin: 5px 0;
  text-align: center;


  &__item {
    list-style-type: none;
    text-decoration: none;
    padding: em(10px) 0;
    border: 1px solid black;

    a {
      font-family: $font-family--primary;
      font-size: em(18px);
      color: $color-primary;
      text-decoration: none;
      display: block;
      padding: em(5px);

      &:hover {
        color: $highlight;
      }
    }
  }
}


.banner {
  position: relative;

  &__image {

    width: 100%;
    display:block;
    height: auto;
}

  &__title {
  position: absolute;
  left: 50%;
  top: 45%;
  width: 100%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  font-size: em(30px);
  font-family: 'Oleo Script', cursive;
  color: $white;
  }

  &__intro {
    position: absolute;
    left: 50%;
    top: 60%;
    width: 100%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    color: $white;
  }
}
