

.banner {
  position: relative;

  &__image {

    width: 100%;
    display:block;
    height: auto;
}

  &__title {
  position: absolute;
  left: 50%;
  top: 45%;
  width: 100%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  font-size: em(30px);
  font-family: 'Oleo Script', cursive;
  color: $white;
  }

  &__intro {
    position: absolute;
    left: 50%;
    top: 60%;
    width: 100%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    color: $white;
  }
}
